@import '../../assets/styles/variables';

.experiences {
  padding: 40px 0;

  h2 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
  }

  .experiences-list {
    display: grid;
    grid-template-columns: 1fr; /* One card per row */
    gap: 20px;
  }

  .experience-card {
    background-color: $card-bg-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    &.expanded {
      border-color: $accent-color;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    .experience-summary {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: $primary-color;
        margin-bottom: 5px;
      }

      .duration {
        font-style: italic;
        color: $secondary-color;
        margin-bottom: 5px;
      }

      .expand-icon {
        font-size: 1.5rem;
        color: $accent-color;
        transition: transform 0.3s ease;

        /* Rotate icon when expanded */
        &.expanded {
          transform: rotate(180deg);
        }
      }
    }


    .experience-details {
      margin-top: 15px;
      padding: 10px;
      border-top: 1px solid $border-color;

      .project {
        li {
            margin-bottom: 30px;
        }
      }

      ul {
        list-style-type: disc;
        padding-left: 20px;

        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}
